@font-face {
    font-family: bernard;
    src: url('fonts/bernard.ttf');
}

aside{

	background-image:url("https://s3.amazonaws.com/lecture_attachments/96hxtD6IREWpOkKJVazR_sos.png");
	background-size:auto;

	
	left: 0;
	top: 50px;
	min-width: 60%;
	width: 60%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	z-index: 1;
	box-shadow: 5px 2px 5px 2px #888888;
	
	
}



aside h1{
	font-size:3em;
}

aside p{
	font-size: 1em;

}

#title{
	text-align:center;
	background-color:#e1e1e1; 
	margin-left: auto; 
	margin-right: auto;
	
}

#description{
	width:90%; 
	margin-left: auto; 
	margin-right: auto;
	
}

#episode_number{
	clear:both;
	float: left;

	
}

#running_time{
	float: right;
	
	
}

#play{
	padding-right:10px;
	float: left;
	position: relative;
	
}


#dev_label, #quick_label{
	
	color: white;
	margin:0;
	background-color: #004669;
	clear:both;
	
}

#aside_menu{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#aside_label{
	font-family: bernard;
	background-color:#e1e1e1;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	font-size: 5em;
}

.dev, .quick{
	font-family: bernard;
}





