/*
	Amazon Fire TV
*/

@font-face {
    font-family: bernard;
    src: url('fonts/bernard.ttf');
}





aside h1{
	font-size:3em;
}

aside p{
	font-size: 1em;

}

#title{
	text-align:center;
	background-color:#e1e1e1; 
	margin-left: auto; 
	margin-right: auto;
	
	
}

#description{
	width:90%; 
	margin-left: auto; 
	margin-right: auto;
	
}

#episode_number{
	clear:both;
	float: left;

	
}

#running_time{
	float: right;
	
	
}

#play{
	padding-right:10px;
	float: left;
	position: relative;
	
}

#moto{
	padding-bottom: 1em;
	padding-bottom: 1em;
	margin-bottom: 0;
}

#arrow{
	width:100%;
	padding:0;
	margin:0;
}


#dev_label, #quick_label{
	
	color: white;
	margin:0;
	background-color: #004669;
	clear:both;
	
}

#aside_menu{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#aside_label{
	font-family: bernard;
	background-color:#e1e1e1;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	font-size: 3.5em;
}

.dev, .quick{
	font-family: bernard;
	padding:0;
	margin:0;
	padding-top: .5em;

}





