<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.yourorg.testBuild" version="0.0.1">
	<name>test build</name>
	<description>
		A test build
	</description>
	<author href="http://yoursite.com" email="contact@yoursite.com">
		Author Name
	</author>
</widget>