article, aside, figure, footer, header, nav, section { 
    display: block; 
} 

@font-face {
    font-family: bernard;
    src: url('fonts/bernard.ttf');
}

@font-face {
    font-family: Futura_Medium;
    src: url('fonts/FuturaCondensedMedium2.ttf');
}


*{
	font-family: Arial;
	text-shadow: none;
	color: black;
	
	
	
}


a{
	text-decoration: none;
}

header{
	background-color:#004669;
	height: 50px;
	width:100%;
	position: fixed;
	z-index: 1;
	
	
	
}

section{
	
	width: 100%;
	background-image:url("https://s3.amazonaws.com/lecture_attachments/96hxtD6IREWpOkKJVazR_sos.png");
	background-size:auto;
	
}



#video{
	width: 60%;
	box-shadow: 3px 3px 1px #888888;
	
}


#logo{
	height: 50px;
	margin-left: 1em;
	
}




#dev, #quick{
	padding-bottom: 1em;
	width: 95%;
	margin: auto;
	box-shadow: 5px 5px 3px #888888;
	background-color: white;
}


#menu{
	background-color: #7B8A96;
	font-size: 1em;
}

#item{
	margin-right: 1em;
	width : 25%;
}

ul {

    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
}

li { 
	display: inline; 
}

.selected{
	opacity:.5;
}

.series_selected{
	border-style: solid;
}

section h1{
	font-size: 2em;
}

section h2{
	font-size: 1.25em;
}

section p{
	font-size: .75em;
}

footer{
	clear: both;
}

/* Pseudo-classes */
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {color:white;}   /* mouse over link */
a:active {color:white;}  /* selected link */


